<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
   
    <bean id ="stdBean" class="com.suthan.beans.Student">
       	<!--  
         	<constructor-arg ref="branchBean"/> -->	
      </bean>
      
      <bean id ="branchBean" class="com.suthan.beans.Branch">
       		<!-- 
          	<constructor-arg ref="stdBean"/>  -->	
      </bean>
    </beans>
        
   