<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

   
    <bean id="userBean" class="com.suthan.beans.User"> 
 
 		<property name="uname" value=""/> 
 		<property name="upwd" value="suthan"/> 
 		<property name="age" value="32"/> 
 		<property name="uemail" value="123@gmail.com"/> 
 		<property name="umobile" value="0044771234567"/> 	
   	</bean>
   		
   		<bean id="validbean" class ="com.suthan.beans.ValidatorBean"/> 
   		
   		
   		
   		</beans>
   		