<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
       
       
       <bean id ="employeebean" class="co.suthan.bean.Employee">
       		
        	<property name="eno" value="007"/>
        	<property name="ename" value="suthan"/>
        	<property name="esal" value="1000.00"/>
        	<property name="eaddr" value="London"/>
        </bean>
    </beans>